<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>AutoSpoto uses your contacts to display the names of your iMessage chats.</string>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>UIAppFonts</key>
	<array>
		<string>JosefinSansBold.ttf</string>
		<string>JosefinSansBoldItalic.ttf</string>
		<string>JosefinSansLight.ttf</string>
		<string>JosefinSansLightItalic.ttf</string>
		<string>JosefinSansRegular.ttf</string>
		<string>JosefinSansSemibold.ttf</string>
		<string>JosefinSansThin.ttf</string>
		<string>JosefinSansThinItalic.ttf</string>
	</array>
</dict>
</plist>
