<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://autospoto.xyz/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>osaXBQS0V5LCJPYDGPka6IayiCrXjo8lNbJma36UfLI=</string>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>UIAppFonts</key>
	<array>
		<string>JosefinSansBold.ttf</string>
		<string>JosefinSansBoldItalic.ttf</string>
		<string>JosefinSansLight.ttf</string>
		<string>JosefinSansLightItalic.ttf</string>
		<string>JosefinSansRegular.ttf</string>
		<string>JosefinSansSemibold.ttf</string>
		<string>JosefinSansThin.ttf</string>
		<string>JosefinSansThinItalic.ttf</string>
	</array>
</dict>
</plist>
